pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
target/
.nrepl-port
.cpcache/
karma.conf.js
package.json
package-lock.json
shadow-cljs.edn
.shadow-cljs
node_modules
.lsp
.webly
.calva
.clj-kondo
/rdocument
*~
\#*\#
.\#*
.~*