{:paths ["src"
         "resources" ; snippets
         ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.10.3"}
  ;cljs-ajax/cljs-ajax {:mvn/version "0.8.3"}
  cljs-http/cljs-http {:mvn/version "0.1.46"}
  org.pinkgorilla/pinkie {:mvn/version "0.3.11"}
  tick/tick {:mvn/version "0.5.0-RC4"}
  thi.ng/strf {:mvn/version "0.2.2"}
  com.cemerick/url {:mvn/version "0.1.1"}  ; url links
  ; addlib3 branch
  ; tools.deps.alpha kills shadow-cljs
  ;org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
  ;                 :sha "241cd24c35ba770aea4773ea161d45276e5d3a73"}
  ; dependency conflict on guava
  ; you'll need the version the closure compiler expects
  }
 :aliases
 {;https://github.com/applied-science/deps-library
  :release
  {:extra-deps {applied-science/deps-library {:mvn/version "0.4.0"}}
   :main-opts ["-m" "applied-science.deps-library"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "check" "--indents" "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}

 ; https://github.com/clj-kondo/clj-kondo/blob/master/doc/jvm.md
  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check"]}

  :garamond
  {:extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}
   :main-opts ["-m" "garamond.main"]}

  :npm-install
  {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.3.70"
                                        :exclusions  [org.pinkgorilla/ui-repl]}}
   :exec-fn goldly.app/goldly-server-run!
   :exec-args {:profile "npm-install"
               :config {:goldly {}}}}

  :goldly
  {:extra-paths ["target/webly" ; to include the sci-bindings info
                 ]
   :extra-deps {org.pinkgorilla/goldly {:mvn/version "0.3.76"
                                        :exclusions  [org.pinkgorilla/ui-repl ; we are in ui-repl!
                                                      ;org.pinkgorilla/reval ; todo: remove
                                                      ;org.pinkgorilla/ui-code ; todo: remove
                                                      ]}
                ;org.pinkgorilla/reval {:mvn/version "0.0.21"} ; get a newer version as in goldly.
                ;org.pinkgorilla/ui-code {:mvn/version "0.0.28"} ; get a newer version as in goldly.
                }
   :exec-fn goldly.app/goldly-server-run!
   :exec-args {:profile "watch2"
               :config {:goldly {:lazy true
                                 :autoload-cljs-dir ["src/demo/page"]
                                 :routes {:app {"" :devtools
                                                ; devtools
                                                "devtools/pages" :pages
                                                "devtools/help" :devtools
                                                "devtools/scratchpad" :scratchpad
                                                "devtools/viewer" :viewer
                                                "devtools/environment" :environment}}}
                         :devtools {:rdocument  {:storage-root "../../rdocument/"
                                                 :url-root "/api/rdocument/file/"}
                                    :collections {:demo-cljs [:cljs "demo/notebook/"]}}
                        
                        }}}

  :test-addlib
  {:extra-paths ["dev"]
   :main-opts ["-m" "add-lib-demo"]}

;
  }}
