{:name "clojure.string"
 ; build
 :lazy false
 :cljs-namespace [clojure.string]
 :cljs-ns-bindings {'clojure.string {'split clojure.string/split
                                     'join clojure.string/join
                                     'escape clojure.string/escape
                                     'blank? clojure.string/blank?
                                     'replace clojure.string/replace
                                     'lower-case clojure.string/lower-case}}}