{:name "ui-repl-jsloader"
 ; build
 :lazy false
 :cljs-namespace [js-loader
                  component]
 :cljs-ns-bindings {'js-loader {'with-js js-loader/with-js
                                'browser-defined? js-loader/browser-defined?
                                'load-always js-loader/load-always
                                'load-js js-loader/load-js}
                    'component {'component component/component}}}
