{:name "tick"
 ; build
 :lazy true
 :cljs-namespace [tick.core
                  cljc.java-time.zone-offset
                  cljc.java-time.local-date-time
                  tick.helper]
 :cljs-ns-bindings {'tick.core {'now tick.core/now
                                'today tick.core/today
                                'epoch tick.core/epoch
                                'midnight tick.core/midnight
                                'noon tick.core/noon
                                'new-date tick.core/new-date
                                'new-time tick.core/new-time
                                'new-duration tick.core/new-duration
                                'new-period tick.core/new-period
                                ; new datattype
                                'time tick.core/time
                                'date tick.core/date
                                'date-time tick.core/date-time
                                'inst tick.core/inst
                                'instant tick.core/instant
                                'instant? tick.core/instant?
                                'zoned-date-time tick.core/zoned-date-time
                                'zoned-date-time? tick.core/zoned-date-time?
                                'offset-date-time tick.core/offset-date-time
                                ; zone 
                                'in tick.core/in
                                'at tick.core/at
                                'UTC tick.core/UTC
                                'current-zone tick.core/current-zone
                                ; to string and from string
                                'formatter tick.core/formatter
                                'format tick.core/format
                                'parse-date tick.core/parse-date
                                'parse-date-time tick.core/parse-date-time
                                ; comparisons
                                '= tick.core/=
                                '< tick.core/<
                                '<= tick.core/<=
                                '> tick.core/>
                                '>= tick.core/>=
                                'max tick.core/max
                                'min tick.core/min
                                'truncate tick.core/truncate
                                }
                      'cljc.java-time.zone-offset {'utc cljc.java-time.zone-offset/utc}
                      'cljc.java-time.local-date-time {'to-epoch-second cljc.java-time.local-date-time/to-epoch-second}
                      
                    'tick.helper {'dt-format tick.helper/dt-format}}}
