{:name "tick"
 ; build
 :lazy-sci true
 :cljs-namespace [tick.core
                  pinkgorilla.repl.cljs.tick]
 :cljs-ns-bindings {'tick.core {'now tick.core/now
                                'time tick.core/time}
                    'tick.goldly {'dt-format pinkgorilla.repl.cljs.tick/dt-format}}}
