{:name "ui-repl"
 ; build
 :lazy true
 :cljs-namespace [pinkgorilla.repl.cljs.js]

 :cljs-ns-bindings {'pinkgorilla.repl.cljs.js {'timeout pinkgorilla.repl.cljs.js/timeout
                                               'interval pinkgorilla.repl.cljs.js/interval
                                               'alert pinkgorilla.repl.cljs.js/alert
                                               'evt-val pinkgorilla.repl.cljs.js/evt-val
                                               'parse-float pinkgorilla.repl.cljs.js/parse-float
                                               'jsx->clj  pinkgorilla.repl.cljs.js/jsx->clj
                                               'to-fixed pinkgorilla.repl.cljs.js/to-fixed}
                    ;'f {'format thi.ng.strf.core/format
                    ;    'float thi.ng.strf.core/float}
                    }}
