{:name "ui-repl"
 ; build
 :lazy false ; util fns not yet working with lazy loader
 :cljs-namespace [pinkgorilla.repl.cljs.js
                  pinkgorilla.repl.cljs.log
                  pinkgorilla.repl.cljs.http
                  pinkgorilla.repl.cljs.component
                  ;thi.ng.strf.core
                  cljs.repl]
 :cljs-bindings {; logging
                 ;'println println
                 'info pinkgorilla.repl.cljs.log/info
                 'warn pinkgorilla.repl.cljs.log/warn
                 'error pinkgorilla.repl.cljs.log/error

                 ; http
                 'get-str pinkgorilla.repl.cljs.http/get-str  ; depreciated (in http ns) - see below
                 'get-edn pinkgorilla.repl.cljs.http/get-edn ; depreciated (in http ns) - see below
                 'get-json pinkgorilla.repl.cljs.http/get-json ; depreciated (in http ns) - see below

                 'timeout pinkgorilla.repl.cljs.js/timeout
                 'interval pinkgorilla.repl.cljs.js/interval
                 'alert pinkgorilla.repl.cljs.js/alert
                 'evt-val pinkgorilla.repl.cljs.js/evt-val

                 'jsx->clj  pinkgorilla.repl.cljs.js/jsx->clj
                 ;'doc cljs.repl/doc   ; this is a macro
                 }
 :cljs-ns-bindings {'http {'get-str pinkgorilla.repl.cljs.http/get-str
                           'get-edn pinkgorilla.repl.cljs.http/get-edn
                           'get-json pinkgorilla.repl.cljs.http/get-json
                           'application-url pinkgorilla.repl.cljs.http/application-url
                           'ws-origin pinkgorilla.repl.cljs.http/ws-origin}
                    ;'f {'format thi.ng.strf.core/format
                    ;    'float thi.ng.strf.core/float}
                    }}
