{:name "demo"
 
 ; we want to not compile anything here with shadow-cljs,
 ; so we can test the sci-mappings.

 ;:lazy true ; must be true, since it depends on techml-dataset-cljs
 ;:depends-on #{:tick}
 #_:cljs-namespace #_[demo.page.main/page
                  demo.page.date/page
                  demo.page.format/page
                  demo.page.http/page
                  demo.page.jsloader/page]
 
 :cljs-routes  {"" demo.page.main/page
                "http" demo.page.http/page
                "jsloader" demo.page.jsloader/page
                "tick" demo.page.tick/page
                "format" demo.page.format/page}}