{:name "demo"
 :lazy true ; must be true
 :depends-on #{:ui-repl :tick-util}
 :cljs-namespace [demo.page.format
                  demo.page.http
                  demo.page.jsloader
                  demo.page.main
                  demo.page.tick]
 
 :cljs-ns-bindings {'demo.page.format {'page demo.page.format/page}
                    'demo.page.http {'page demo.page.http/page}
                    'demo.page.jsloader {'page  demo.page.jsloader/page}
                    'demo.page.main {'page demo.page.main/page}
                    'demo.page.tick {'page demo.page.tick/page}}

 :cljs-routes  {"" demo.page.main/page
                "http" demo.page.http/page
                "jsloader" demo.page.jsloader/page
                "tick" demo.page.tick/page
                "format" demo.page.format/page}}