{:paths ["src"
         "resources"
         "target/webly"]

 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/webly {:mvn/version "0.7.703"} ; build tool
        org.pinkgorilla/goldly {:mvn/version "0.7.683"}
        ;; this project
        org.pinkgorilla/ui-repl {:local/root "../" :deps/manifest :deps}}

 :aliases {;; WATCH
           :npm-install
           {:exec-fn webly.app.app/webly-build
            :config {}
            :exec-args {:profile "npm-install"}}
           
           :demo
           {:exec-fn modular.system/start!
            :exec-args {;:profile "jetty"
                        :profile "watch"
                        :config {}
                        :services "demo-services.edn"}}

           ;; BUILD / SERVE

           :compile {:exec-fn webly.app.app/webly-build
                     :config {}
                     :exec-args {:profile "compile"}}

           :release-adv {:exec-fn webly.app.app/webly-build
                         :config {}
                         :exec-args {:profile "release-adv"}}

           :jetty
           {:exec-fn modular.system/start!
            :exec-args {:profile "jetty"
                        :config {}
                        :services "demo-services.edn"}}}
;
 }
