{:goldly {:lazy true
          :autoload-cljs-dir ["demo/page"]
          :routes {:app {"" :demo-dialog
                         "format" :demo-format
                         "http-demo" :demo-http-get
                         "loadjs" :demo-loadjs}}}}